<!-- jumbotron 1 -->
<div class="container"> 
	<div class="jumbotron">
  		<h1>TechnoRestore</h1>
  	 	<p>Servicio Tecnico Integral.</p>
     	<p><a class="btn btn-primary btn-lg">Conocer más</a></p>
    </div>
</div>